.bg-overide {
	background-color: #bd0707;
}

.text-overide {
	color: #bd0707;
}

.input-overide {
	border: 2px solid #bd0707;
	background-color: rgba(224, 200, 200, 25%);
}

.input-overide:focus {
	border: 2px solid #bd0707;
	background-color: rgba(224, 200, 200, 25%);
	box-shadow: 0 0 10px 5px rgb(247, 161, 161);
}

.icons-img {
	color: #bd0707;
	size: 5em;
}

.modal-overide {
	width: 420px;
}

.modal-overide span {
	cursor: pointer;
}

.modal-overide span:hover {
	text-decoration: underline;
}

.card-overide {
	background-color: #f6dada;
	color: #bd0707;
	border: 0;
	text-decoration: none;
}

.card-overide span {
	background-color: #f6dada;
	color: #974a4a;
}
