
.bg-overide{
   background-color: #BD0707;
}

.text-overide{
   color: #BD0707;
}

.input-overide{
   border: 2px solid #BD0707;
   background-color: rgba(224, 200, 200, 25%);
}

.input-overide:focus{
   border: 2px solid #BD0707;
   background-color: rgba(224, 200, 200, 25%);
   box-shadow: 0 0 10px 5px rgb(247, 161, 161);
}

.modal-overide{
   width: 420px;
}

.modal-overide span{
   cursor: pointer;
}

.modal-overide span:hover{
   text-decoration: underline;
}

.card-overide{
   background-color: #F6DADA;
   color: #BD0707;
   border: 0;
}

.card-overide span{
   background-color: #F6DADA;
   color: #974A4A;
}